body {
  background-color: #463d36;
  font-family: sans-serif;
  color: #463d36;
}

.container {
  background-color: white;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  margin: 100px auto;
  padding: 40px;
}

.container h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 40px;
  margin-top: 0;
}

.container h2 {
  text-transform: uppercase;
  color: #a6192e;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0;
}

.container p {
  color: #463d36;
  font-size: 28px;
  font-weight: 40px;
  padding-bottom: 15px;
  font-weight: 500;
}

.container button {
  text-transform: uppercase;
  background-color: #463d36;
  padding: 30px 40px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
