.box {
  width: 100px;
  height: 100px;
  background-color: olive;
  display: inline-block;
  /* transform: translateX(400px); */
}

.first {
  background-color: orangered;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

h1 {
  transform: rotate(20deg) scale(3);
  /* transform: rotate(90deg); */
  border: 1px solid salmon;
  display: inline-block;
}
